*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}
#nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1;
    /* background-color: red; */
    padding: 0 10px;
}
#nav img{
    width: 40px;
    

}
#nav i{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    z-index: 999999;
}
#mainheading{
    position: relative;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    padding: 0 50px;
    background-color: white;
}

#mainheading h1{
    font-size: 180px;
    /* font-weight: 900; */
    text-transform: uppercase;
    line-height: 180px;
    font-family: "Vanguard CF" ;
    color: #000;
    /* background-color: white; */
    display: inline-block;

}
#awwwardstag{
 position: fixed;
 top: 50%;
 right: 0;
 transform: translate(0,-50%);
 z-index: 9999999;

}
#mainheading p{
    position: absolute;
    right: 10%;
    bottom: 5%;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-weight: 800;
    color: #a8a8a8;
    font-size:10px;
}#sections .section{
    display: flex;
    justify-content: right;

    width: 100%;
    padding: 70px 50px;
    /* background-color: red; */
    margin-top: 100px;
}
#sections .section:nth-child(2n){
justify-content: flex-start;
}
.insider{
    width: 500px;
    height: 400px;
    /* background-color: yellow; */
}
.insider .img{
    width: 100%;
    height: 85%;
    /* background-color: red; */
}
.insider .txt{
    width: 100%;
    height: 15%;
    margin-top: 15px;
    /* background-color: rgb(6, 41, 71); */
}
.section .txt h2{
    font-family: "Copyright Klim Type Foundry";
}
.section .txt h5{
    font-family:"Roboto Mono";
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;

    opacity: .4;
}
.insider .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#footer{
    padding: 20px 50px;
    /* background-color: red; */
}
#footer h1{
    position: relative;
    display: inline-block;
    background-color: white;
    font-size: 100px;   
    text-transform: uppercase;
    font-family: "Vanguard CF";
    animation: bounce 2s linear infinite both;
    transform: translate(0, 20%);
}
#circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 140px;
    height: 140px;
    background-color: #333;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Roboto Mono";
    font-weight: 700;
    letter-spacing: 2px;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
#contact h3{
    background-color: transparent;
    font-family: Soehne,Georgia,sans-serif;
    font-weight: 600;
}
#contact p{
     font-family: "Roboto Mono";
    color: #0a0a0a;
    font-size: .65em;
    font-weight: 500;
    text-transform: uppercase;
}
#smcircle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:  all ease-out .2s;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid rgb(156, 20, 20);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999999;
}
.ttxt{
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}

#cursor{
    position: relative;
    position: fixed;
    display: none;
    pointer-events: none;
    top: 20%;
    left: 50%;
    transition: all ease-out .4s;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: difference;
    /* background-color: red; */
}
#cursor svg:nth-child(2){
    animation: an 10s linear infinite  both;
}


#cursor svg:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    color: #000;
    z-index: 99999999;
}

.wheel{
    width: 100px;
    /* color: rgb(10, 9, 9);     */
}

@keyframes an {
      from{
          transform: rotate(0deg);
      }
      to{
         transform: rotate(360deg);
      }    
}

#ArrowDiv{
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes bounce{
    0%{
        background-color: red;
        transform: translateY(20);
    }
    50%{
        transform: translateY(0);
        background-color: rebeccapurple;
    }
    100%{
        transform: translateY(-20);
        background-color: red;
    }
}